@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.footer-heading {
  font-family: Roboto;
  font-size: 2vw;
  font-weight: bold;
  color: white;
  padding-top: 9px;
}

.footer_logobg {
  background-color: red;
  width: 29vw;
  height: 6vh;
  justify-content: center;
}

.donate_icon {
  font-size: 3vh;
  padding: 17px;
}

.footer {
  background-color: #1a2c69;
  height: 10vh;
  width: 100vw;
  text-align: center;
  margin-top: 10px;
}

.bg_container {
  width: 100vw;
  padding: 19px;
}

.image-lower {
  height: 30vh;
  width: 40vw;
}

.inspiring_heading {
  padding-top: 11px;
  font-family: Sans-serif;
  text-align: center;
  color: black;
  font-size: 37px;
  font-weight: 700;
}

.paragraph {
  text-align: center;
  padding: 40px;
}

.heading_para-container {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.plus_icon {
  font-size: 40px;
}

.nav2 {
  background-color: darkblue;
}

.navbar-image {
  width: 60px;
  height: 50px;
}

.coursel_image {
  height: 67vh;
}

#navheadings {
  color: #757575;
  text-decoration: bold;
  font-weight: 700;
  font-size: 15px;
}

#navheadingslower {
  color: white;
  text-decoration: bold;
  font-weight: 700;
  height: 6vh;
  font-size: 17px;
}

.iconM {
  font-size: 14px;
}

#navheadings5 {
  background-color: red;
  color: white;
  font-weight: 700;
}

.icon {
  font-size: 25px;
}
